* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #3a3939;
    line-height: 1.6;
}

/* GLOBAL STYLES */

    .header {
        margin-top: 1.5625rem;
    }
    h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        text-align: center;
        width: 100%;
        margin-top: 0em;
        color: #254e5a;
    }

    .main-nav li {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        text-align: center;
    }

    li {
        background-color: white;
        margin: 0.625rem;
        padding: 0.625rem;
    }

    a {
        text-decoration: none;
        font-weight: 500;
    }

    a:visited {
        color: #2b2a2a;;
    }

    a:hover {
        color: #254e5a;
        font-weight: bold;
    }

    .profile-pic {
        display: block;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 1.5625rem;
    }

    img {
        max-width: 100%;
        padding: 0 0.625rem;
    }


    p {
        font-family: "Roboto", sans-serif;
        color: #586069;
        padding: 0px 0.625rem 0.625rem 0.625rem;
        text-align: center;
        padding-bottom: 1.25rem;
    }

    h3 {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding: 0.625rem 0;
        font-size: 1.6rem;
    }

    h4 {
        font-family: "Raleway", sans-serif;
        text-align: center;
        font-size: 1.4rem;
    }

    .portfolio-section {
        background-color: white;
        padding: 1.875rem 0;
    }

    .skills-group {
        margin: 1.25rem 0;
    }

    .skill {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color:#586069;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: 0.625rem 0;
    }

    h5 {
        font-family: "Raleway", sans-serif;
        text-transform: 700;
    }

    strong {
        padding-left: 1.25rem;
        font-weight: bold;
    }

    footer {
        border-top: 1px solid #586069;
        margin: 0.625rem;
    }

    h5 {
        padding: 0.625rem;
    }

    .footer-name {
        float: left;
    }

    .top-mobile {
        float: right;
    }

    .footer-menu {
        display: none;
    }

    .clearfix::after {
        content: " ";
        clear: both;
        display: table;
    }

/* Media Queries */

@media (min-width: 768px) {
    
    .header {
        width: 100%;
    }

    .main-nav {
        text-align:center;
    }

    .main-nav li {
        display: inline;
        background: none;
    }

    .main-nav a {
        display: inline-block;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .profile-pic {
        float: right;
        width: 40%;
        margin-top: 0rem;
    }

    .clearfix {
        overflow: auto;
    }

    .about-blurb {
        margin-top: 0rem;
        font-size: 1.15rem;
        text-align: left;
    }

    .section-one {
        margin: 1.875rem 0;
        padding: 0 .65rem;
    }

    .portfolio-section {
        width: 100%;
    }

    .project-card {
        width: 47%;
        display: inline-block;
    }
}