* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #3a3939;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    color: #586069;
}

/* GLOBAL STYLES */

    .header {
        margin-top: 1.5625rem;
    }
    h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        text-align: center;
        width: 100%;
        margin-top: 0em;
        color: #254e5a;
    }

    .main-nav li {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        text-align: center;
    }

    li {
        background-color: white;
        margin: 0.625rem;
        padding: 0.625rem;
    }

    a:link {
        text-decoration: none;
        font-weight: 600;
        color: #2b2a2a;
    }

    a:visited {
        color: #2b2a2a;
    }

    a:hover {
        color: #254e5a;
        font-weight: bold;
        font-size: 1.2rem;
    }

    a:active {
        color: #254e5a; 
    }

    .profile-pic {
        display: block;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 1.5625rem;
        padding: 0;
        border: 3px solid #254e5a;
        border-radius: 2%;
    }

    img {
        max-width: 100%;
        padding: 0 0.625rem;
    }


    p {
        font-family: "Roboto", sans-serif;
        color: #586069;
        padding: 0px 0.625rem 0.625rem 0.625rem;
        text-align: center;
        padding-bottom: 1.25rem;
    }

    h3 {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding: 0.625rem 0;
        font-size: 1.6rem;
    }

    h4 {
        font-family: "Raleway", sans-serif;
        text-align: center;
        font-size: 1.4rem;
    }

    .portfolio-section {
        background-color: white;
        padding: 1.875rem 0;
    }

    .skills-group {
        margin: 1.25rem 0;
    }

    .skill {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color:#586069;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: 0.625rem 0;
    }

    h5 {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
    }

    strong {
        padding-left: 1.25rem;
        font-weight: bold;
        color: #254e5a;
    }

    footer {
        border-top: 1px solid #586069;
        margin: 0.625rem;
        background-color: #b3b4b4;
        margin: 1%;
    }

    h5 {
        padding: 0.625rem;
        padding-left: 1rem;
        color:#254e5a;
    }

    .footer-name {
        float: left;
    }

    .top-mobile {
        float: right;
    }

    .footer-menu {
        display: none;
    }

    .clearfix::after {
        content: " ";
        clear: both;
        display: table;
    }

/* Media Queries */

@media (min-width: 768px) {
    
    .header {
        width: 100%;
    }

    .main-nav {
        text-align:center;
    }

    .main-nav li {
        display: inline;
        background: none;
    }

    .main-nav a {
        display: inline-block;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .profile-pic {
        float: right;
        width: 40%;
        margin-top: 0rem;
        margin-left: 1.65rem;
    }

    .clearfix {
        overflow: auto;
    }

    .about-blurb {
        margin-top: 0rem;
        font-size: 1.15rem;
        text-align: left;
    }

    .section-one {
        margin: 1.875rem 0;
        padding: 0 .65rem;
    }

    .portfolio-section {
        width: 100%;
        padding-top: .15rem;
    }

    .project-card {
        width: 47%;
        display: inline-block;
    }

    .projects {
        padding-left: 2.25rem;
    }

    .skills-img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .skill {
        font-size: 1.25rem;
        margin-top: 2.25rem;
        color: #254e5a;
    }

    .contact-section {
        border-top: 1px solid black;
        margin: 0.625rem;
    }

    .contact-blurb {
        margin: 0 15%;
    }

    .contact-section p {
        font-size: 1.2rem;
    }

    .top-mobile {
        display:none;
    }

    .footer-menu {
        display: inline-block;
        float: right;
        padding: 0.625rem;
    }

    .footer-menu li {
        display: inline;
        background: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.83em;
    }
}

@media (min-width: 1024px) {
    
    .container {
        max-width: 1024px;
    }

    h1 {
        float: left;
        text-align: left;
        display: inline;
        width: 30%;
    }

    .header .container {
        overflow: auto;
        padding: 0 4%;
    }

    .main-nav {
        float: right;
        display: inline;
    }
    
    .section-one {
        padding: 0 4%;
    }

    .profile-pic {
        margin-left: 1.65rem;
    }

    .project-card {
        width: 32%;
    }

    .skills-img {
        width: 50%;
        float: left;
        padding-left: 10%;
    }

    .skills-section {
        overflow: hidden;
    }

    .skills-group {
        float: right;
        display: inline;
        padding: 0 10%;
        padding-bottom: 5%;
        margin-top: 0;
    }

    .skill {
        margin-top: 1.2rem;
    }
}