body {
    background-color: #ededed;
}

@media (max-width: 320px) {
    h1 {
        display: block;
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        width: 100%
    }

    #menu, li {
        text-align: center;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
    }

    li {
        background-color: white;
        margin: 10px;
        padding: 10px;
    }

    img {
        max-width: 300px;
        padding: 0 10px;
    }

    p {
        font-family: "Roboto", sans-serif;
        padding: 0px 10px 10px 10px;
        text-align: center;
        color: #586069;
        padding-bottom: 20px;
    }

    h3 {
        font-family: "Raleway", sans-serif;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
        font-size: 1.6rem;
    }

    h4 {
        font-family: "Raleway", sans-serif;
        text-align: center;
        font-size: 1.4rem;
    }

    .portfolio-section {
        background-color: white;
        padding: 30px 0;
    }

    .skills-group {
        margin: 20px 0;
    }

    .skill {
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
        color:#586069;
    }

    strong {
        padding-left: 20px;
        font-weight: bold;
    }

    footer {
        border-top: 1px solid #586069;
        margin: 10px;
        clear: both;
    }

    h5 {
        font-family: "Raleway", sans-serif;
        text-transform: bold;
        padding: 10px;
    }

    .footer-name {
        float: left;
    }

    .top-mobile {
        float: right;
    }

    .footer-menu {
        display: none;
    }
        
    
}